body{
    display: grid;
    grid-template-rows: 20vh 80vh;
    margin: 0px;
}
#head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aquamarine;
}
#logger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logger input, button{
    height: 50px;
    width: 200px;
    font-size: 180%;
}